.mainEditorUri {
    $color: $base-highlight-color;
    display: block;
    margin: auto;
    padding: 1px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid $color;
    margin: 0 3px 3px;
    font-size: 1.1em;

    .inner {
        background-color: $color;
        padding-top: 6px;
        height: 100%;
        color: white;

        * {
            color: white;
            margin-left: 3px;
        }
    }

    .switch {
        color: white;
        cursor: pointer;
        font-weight: normal;
        font-size: 13px;
        text-decoration: none;
        i {
            font-size: 15px;
            margin: 0 5px 0 10px;
        }
        &:hover {
            color: #eee;
        }
    }
}