body, html { padding: 0; margin: 0; }

.document {
    min-height: 200px;
    position: absolute;
}

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Titillium+Web);

.akomaNtoso {
    max-width: 1240px;
    margin: auto;
    font: 14px/20px 'Libre Baskerville', serif;
    color: #333;
    text-align: justify;
}

.label(@color, @label) {

    padding: 25px 10px 0;
    margin: 20px 20px 10px;

    &:before {
        content: @label;

        position: absolute;
        top: 0px;
        left: 0px;

        font: 13px/16px 'Titillium Web', sans-serif;

        display: inline-block;
        padding: 0px 6px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: white;
        background-color: hsl(@color, 30%, 40%);
    }
}

.mainPart(@color, @label) {
    .hcontainer(@color);
    .label(@color, @label);
    border-color: hsl(@color, 30%, 40%);
}

.hcontainer(@color) {
    position: relative;
    margin: 10px 0;
    padding: 0 10px;
    border-left: 4px solid hsl(@color, 30%, 65%);

    >.num {
        position: relative;
        color: hsl(@color, 0%, 40%);
        margin: 8px 0 15px;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
    }

    >.heading {
        position: relative;
        color: hsl(@color, 0%, 40%);
        margin-left: 15px;
        font-size: 13px;
        font-style: italic;
        display: inline-block;
    }
}

.inline (@color, @label) {
    border-bottom: 1px solid hsl(@color, 0%, 65%);
    display: inline-block;
    position: relative;
    margin: 5px 0 3px;
    padding-right: 80px;

    &:before {
        content: @label;
        width: 60px;
        text-align: center;

        font: 13px/16px 'Titillium Web', sans-serif;

        position: absolute;
        right: 0px;
        bottom: 0px;

        padding: 0px 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        color: white;
        background-color: hsl(@color, 0%, 65%);
    }
}

.document {

    .preamble { .mainPart(206, 'preamble'); }
    .preface { .mainPart(206, 'preface'); }
    .conclusions { .mainPart(206, 'conclusions'); }
    .body { .mainPart(50, 'body'); }

    .title { .hcontainer(70); }
    .section { .hcontainer(90); }
    .article { .hcontainer(110); }

    .list>.point {
        margin-top: 15px;
        position: relative;
        min-height: 30px;

        >.num {
            position: absolute;
            top: 0px;
            left: 5px;
            
            font-size: 17px;
            font-weight: bold;
        }

        >.content, >.list {
            margin-left: 60px;
            display: inline-block;
        }
    }


    .list>.intro {
        font-style: italic;
    }
}