@import '../../../../resources/stylesheets/aknVisualizer.less';

body, html { padding: 0; margin: 0; width: 100%; }

#lineNumbers {
    position: absolute;
    right: 35px;
    div {
        position: absolute;
        font-style: italic;
        font-size: .9em;
        color: #777;
        font-family: 'Libre Baskerville', serif;
        font-family: 'Titillium Web', sans-serif;
        text-align: right;
        width: 25px;
    }
}

*[data-size='A4'] + #lineNumbers {
    right: 50%;
    div {
        left: 310px;
    }
}

.fragment {
    position: relative;
}

.document {
    min-height: 200px;
    position: absolute;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;

    &[data-size='A4'] {
        background-color: #eee;
        padding: 25px 0;
    }

    
    overflow-x: hidden;
    &[data-size='A4'] .akomaNtoso {
        background-color: white;
        margin: 30px;
        padding: 25px 35px 25px 15px;
        width: 700px;
        box-sizing: border-box;
        margin: auto;
        span.pageBreak {
            display: block;
            height: 50px; // PAGE_BREAK_HEIGHT
            position: relative;
            width: 0px;
            margin: 50px 40px 100px; // PAGE_BREAK_MARGIN


            &:before {
                content: ' ';
                width: 100000px;
                height: 100%;
                position: absolute;
                left: -10000px;
                background-color: #eee;
            }

            .inner {
                height: 100%;
                width: 701px;
                display: block;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                
                &:before {
                    content: ' ';
                    width: 100000px;
                    height: 100%;
                    position: absolute;
                    left: -10000px;
                    box-shadow: inset 0 0 5px #888;
                }
            }
        }
        box-shadow: 0 0 5px #888;

    }
    &[data-size='full'] .akomaNtoso {
        background-color: white;
    }
}

// Display a line separator at @dist from element
.separator(@dist) {
    &:after {
        content: '';
        display: block;
        margin: auto;
        width: 100px;
        height: @dist;
        border-bottom: 1px solid black;
    }
}
.separatorBefore(@dist) {
    &:before {
        content: '';
        display: block;
        margin: auto;
        width: 100px;
        height: @dist;
        border-top: 1px solid black;
    }
}


.inlineNew (@icon, @color) {
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;

    text-decoration: underline;

    display: inline;
    padding-left: 0;
    background-color: lighten(@color, 47%);

    border-color: lighten(@color, 20%);
    border-radius: 5px;
    margin: 0 3px;
    border-bottom: 2px solid @color;

    &:before {
        box-shadow: 2px 1px 3px -2px #333333;
        background-color: @color;
        display: inline-block;
        content: @icon;

        font: 1em 'FontAwesome';
        line-height: 20px;
        border-radius: 0 5px 0 5px;
        color: white;

        padding: 0 5px 0 5px;
        margin-right: 5px;
    }

}

.aknVisualizer {
    .formula {
        // .inline(206, 'formula');
        display: inline-block;
        font-style: italic;
    }
    .docAuthority { display: inline-block; }
    .docProponent { display: inline-block; }
    .docType { display: inline-block; }
    .signature {
        display: inline-block;
        text-align: right;
        margin: 0 5px;
    }

    .title { .mainPart(60, 'title'); }
    .chapter { .mainPart(70, 'chapter'); }
    .section { .mainPart(90, 'section'); }
    .clause { .mainPart(110, 'clause'); }
    .subsection { .mainPart(130, 'subsection'); }
    .article { .mainPart(110, 'article'); }

    .clause>.content>.num {
        position: relative;
        color: hsl(0, 0%, 40%);
        margin: 8px 0 15px;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
    }

    .preface .p[data-class="heading"] {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        margin: 20px 0px;
        .separator(20px);
    }
    .docTitle {
        font-size: 2em;
        line-height: 2em;
        font-weight: bold;
        text-align: center;
        margin: 50px 0px;
        .separator(150px);
    }
    .preface>.p[data-class="center"] {
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        font-size: .9em;
    }
    .docProponent {
        margin-top: 20px;
        .separatorBefore(100px);
        font-size: .9em;
    }
    .docType {
        font-size: 3em;
        line-height: 3em;
        margin: 50px 20px;
        display: block;
        text-align: center;
    }
    .longTitle {
        font-size: .9em;
        font-weight: bolder;
    }

    .formula {
        margin-top: 30px;
        padding-left: 15px;
        &:first-letter {
            font-size: 2em;
            position: relative;
            display: inline-block;
            float: left;
            padding: 5px;
            font-size: 2em;
        }
    }

    .quotedStructure {
        margin: 5px 0;
        padding: 15px;
        box-shadow: 3px 3px 15px black;
        background-color: #FFFCEF;
        position: relative;

        &:before {
            content: '\f02e';
            position: absolute;
            top: -3px;
            color: #478552;
            right: 15px;
            font: 2em 'FontAwesome';
        }
    }

    .ref {
        .inlineNew('\f0c1', hsl(206, 80%, 50%));
        cursor: pointer;
    }

    .organization {
        .inlineNew('\f19c', hsl(206, 80%, 50%));
    }

    .location {
        .inlineNew('\f041', hsl(206, 80%, 50%));
    }

    .date {
        .inlineNew('\f073', hsl(206, 80%, 50%));
    }

    .person {
        .inlineNew('\f007', hsl(206, 80%, 50%));
    }
}
