@import '../../../../resources/stylesheets/aknVisualizer.less';

body, html { padding: 0; margin: 0; width: 100%; }

#lineNumbers {
    position: absolute;
    right: 35px;
    div {
        position: absolute;
    }
}

.fragment {
    display: inline-block;
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding: 0px 5px;
}

.document {
    min-height: 200px;
    position: absolute;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
    &[data-size='A4'] .akomaNtoso {
        width: 600px;
        margin: auto;
    }
}

// Display a line separator at @dist from element
.separator(@dist) {
    &:after {
        content: '';
        display: block;
        margin: auto;
        width: 100px;
        height: @dist;
        border-bottom: 1px solid black;
    }
}
.separatorBefore(@dist) {
    &:before {
        content: '';
        display: block;
        margin: auto;
        width: 100px;
        height: @dist;
        border-top: 1px solid black;
    }
}

.aknVisualizer {
    .formula {
        // .inline(206, 'formula');
        display: inline-block;
        font-style: italic;
    }
    .docAuthority { display: inline-block; }
    .docProponent { display: inline-block; }
    .docType { display: inline-block; }
    .signature {
        display: inline-block;
        text-align: right;
        margin: 0 5px;
    }

    .chapter { .mainPart(70, 'chapter'); }
    .section { .mainPart(90, 'section'); }
    .clause { .mainPart(110, 'clause'); }

    .clause>.content>.num {
        position: relative;
        color: hsl(0, 0%, 40%);
        margin: 8px 0 15px;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
    }

    .preface .p[data-class="heading"] {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        margin: 20px 0px;
        .separator(20px);
    }
    .docTitle {
        font-size: 2em;
        line-height: 2em;
        font-weight: bold;
        text-align: center;
        margin: 50px 0px;
        .separator(150px);
    }
    .preface>.p[data-class="center"] {
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        font-size: .9em;
    }
    .docProponent {
        margin-top: 20px;
        .separatorBefore(100px);
        font-size: .9em;
    }
    .docType {
        font-size: 3em;
        line-height: 3em;
        margin: 50px 20px;
    }
    .longTitle {
        font-size: .9em;
        font-weight: bolder;
    }

    .formula {
        margin-top: 30px;
        padding-left: 15px;
        *:first-letter {
            font-size: 2em;
            position: relative;
            display: inline-block;
            float: left;
            padding: 5px;
            font-size: 2em;
        }
    }
}


    .title .fragment{
        background-color: hsla(70, 30%, 65%,15%);
        border-bottom-color: hsl(70, 30%, 65%);
       
    }
    .section .fragment{
        background-color: hsla(91, 30%, 65%,15%) ;
        border-bottom-color: hsl(91, 30%, 65%) ;
        }
    .article .fragment{
        background-color: hsla(109, 30%, 65%,15%) ;
        border-bottom-color: hsl(109, 30%, 65%);
         }
    .list .fragment{
        background-color: hsla(159, 30%, 65%,15%) ;
        border-bottom-color: hsl(159, 30%, 65%);
         }
    .preamble .fragment{
        background-color: hsla(206, 30%, 65%,15%) ;
        border-bottom-color: hsl(206, 30%, 65%);
         }
    .preface .fragment{
        background-color: hsla(206, 30%, 65%,15%) ;
        border-bottom-color: hsl(206, 30%, 65%);
         }
    .conclusions .fragment{
        background-color: hsla(206, 30%, 65%,15%) ;
        border-bottom-color: hsl(206, 30%, 65%);
         }