
// Todo: add language selector
#tinymce.lime {
    // ----------------
    // -- Containers --
    // ----------------
    .administrationOfOath { @include MainPart('administrationOfOath'); }
    .amendmentBody { @include MainPart('amendmentBody'); }
    .amendmentContent { @include MainPart('amendmentContent'); }
    .amendmentHeading { @include MainPart('amendmentHeading'); }
    .amendmentJustification { @include MainPart('amendmentJustification'); }
    .amendmentReference { @include MainPart('amendmentReference'); }
    .answer { @include MainPart('answer'); }
    .arguments { @include MainPart('arguments'); }
    .attachments { @include MainPart('attachments'); }
    .attachment { @include MainPart('attachment'); }
    .background { @include MainPart('background'); }
    .blockContainer { @include MainPart('blockContainer'); }
    .blockList { @include MainPart('blockList'); }
    .body { @include MainPart('body'); }
    .citation { @include MainPart('citation'); }
    .collectionBody { @include MainPart('collectionBody'); }
    .component { @include MainPart('component'); }
    .components { @include MainPart('components'); }
    .conclusions { @include MainPart('conclusions'); }
    .coverPage { @include MainPart('coverPage'); }
    .debateBody { @include MainPart('debateBody'); }
    .decision { @include MainPart('decision'); }
    .extractStructure { @include MainPart('extractStructure'); }
    .foreign { @include MainPart('foreign'); }
    .formula { @include MainPart('formula'); }
    .fragmentBody { @include MainPart('fragmentBody'); }
    .introduction { @include MainPart('introduction'); }
    .mainBody { @include MainPart('mainBody'); }
    .motivation { @include MainPart('motivation'); }
    .preamble { @include MainPart('preamble'); }
    .preface { @include MainPart('preface'); }
    .question { @include MainPart('question'); }
    .recital { @include MainPart('recital'); }
    .speech { @include MainPart('speech'); }
    .speechGroup { @include MainPart('speechGroup'); }
    .tblock { @include MainPart('tblock'); }
    .toc { @include MainPart('toc'); }
    .wrap { @include MainPart('wrap'); }
    .content { @include MainPart('content'); }
    .remedies { @include MainPart('remedies'); }

    // -----------------
    // -- HContainers --
    // -----------------
    .address { @include MainPart('address'); }
    .alinea { @include MainPart('alinea'); }
    .article { @include MainPart('article'); }
    .book { @include MainPart('book'); }
    .chapter { @include MainPart('chapter'); }
    .citations { @include MainPart('citations'); }
    .clause { @include MainPart('clause'); }
    .debateSection { @include MainPart('debateSection'); }
    .declarationOfVote { @include MainPart('declarationOfVote'); }
    .division { @include MainPart('division'); }
    .indent { @include MainPart('indent'); }
    .item { @include MainPart('item'); }
    .list { @include MainPart('list'); }
    .ministerialStatements { @include MainPart('ministerialStatements'); }
    .nationalInterest { @include MainPart('nationalInterest'); }
    .noticesOfMotion { @include MainPart('noticesOfMotion'); }
    .oralStatements { @include MainPart('oralStatements'); }
    .papers { @include MainPart('papers'); }
    .paragraph { @include MainPart('paragraph'); }
    .part { @include MainPart('part'); }
    .personalStatements { @include MainPart('personalStatements'); }
    .petitions { @include MainPart('petitions'); }
    .pointOfOrder { @include MainPart('pointOfOrder'); }
    .proceduralMotions { @include MainPart('proceduralMotions'); }
    .proviso { @include MainPart('proviso'); }
    .questions { @include MainPart('questions'); }
    .recitals { @include MainPart('recitals'); }
    .resolutions { @include MainPart('resolutions'); }
    .rollCall { @include MainPart('rollCall'); }
    .rule { @include MainPart('rule'); }
    .section { @include MainPart('section'); }
    .subchapter { @include MainPart('subchapter'); }
    .subclause { @include MainPart('subclause'); }
    .subdivision { @include MainPart('subdivision'); }
    .sublist { @include MainPart('sublist'); }
    .subparagraph { @include MainPart('subparagraph'); }
    .subpart { @include MainPart('subpart'); }
    .subrule { @include MainPart('subrule'); }
    .subsection { @include MainPart('subsection'); }
    .subtitle { @include MainPart('subtitle'); }
    .title { @include MainPart('title'); }
    .tome { @include MainPart('tome'); }
    .transitional { @include MainPart('transitional'); }
    .writtenStatements { @include MainPart('writtenStatements'); }

    .point { @include Hcontainer(); }


    // ------------
    // -- Inline --
    // ------------
    .inline { @include Inline(206, '?'); }

    .affectedDocument { @include Inline(206, 'affectedDocument'); }
    .argument { @include Inline(206, 'argument'); }
    .change { @include Inline(206, 'change'); }
    .concept { @include Inline(206, 'concept'); }
    .courtType { @include Inline(206, 'courtType'); }
    .date { @include Inline(206, 'date'); }
    .decoration { @include Inline(206, 'decoration'); }
    .def { @include Inline(206, 'def'); }
    .del { @include Inline(206, 'del'); }
    .docAuthority { @include Inline(206, 'docAuthority'); }
    .docCommittee { @include Inline(206, 'docCommittee'); }
    .docDate { @include Inline(206, 'docDate'); }
    .docIntroducer { @include Inline(206, 'docIntroducer'); }
    .docJurisdiction { @include Inline(206, 'docJurisdiction'); }
    .docketNumber { @include Inline(206, 'docketNumber'); }
    .docNumber { @include Inline(206, 'docNumber \f02d'); }
    .docProponent { @include Inline(206, 'docProponent'); }
    .docPurpose { @include Inline(206, 'docPurpose'); }
    .docStage { @include Inline(206, 'docStage'); }
    .docStatus { @include Inline(206, 'docStatus'); }
    .docTitle { @include Inline(206, 'docTitle'); }
    .docType { @include Inline(206, 'docType \f0e3'); }
    .documentRef { @include Inline(206, 'documentRef'); }
    .entity { @include Inline(206, 'entity'); }
    .event { @include Inline(206, 'event'); }
    .extractText { @include Inline(206, 'extractText'); }
    .fillIn { @include Inline(206, 'fillIn'); }
    .from { @include Inline(206, 'from'); }
    .heading {
        @include Inline(206, 'heading');
        max-width: 65%;
        vertical-align: sub;
    }
    .inline { @include Inline(206, 'inline'); }
    .ins { @include Inline(206, 'ins'); }
    .judge { @include Inline(206, 'judge'); }
    .legislature { @include Inline(206, 'legislature'); }
    .listConclusion { @include Inline(206, 'listConclusion'); }
    .listIntroduction { @include Inline(206, 'listIntroduction'); }
    .location { @include Inline(206, 'location'); }
    .mmod { @include Inline(206, 'mmod'); }
    .mod { @include Inline(206, 'mod'); }
    .mref { @include Inline(206, 'mref'); }
    .narrative { @include Inline(206, 'narrative'); }
    .neutralCitation { @include Inline(206, 'neutralCitation'); }
    .num { @include Inline(206, 'num'); }
    .object { @include Inline(206, 'object'); }
    .omissis { @include Inline(206, 'omissis'); }
    .opinion { @include Inline(206, 'opinion'); }
    .organization { @include Inline(206, 'organization'); }
    .outcome { @include Inline(206, 'outcome'); }
    .party { @include Inline(206, 'party'); }
    .person { @include Inline(206, 'person'); }
    .placeholder { @include Inline(206, 'placeholder'); }
    .process { @include Inline(206, 'process'); }
    .quantity { @include Inline(206, 'quantity'); }
    .quotedText { @include Inline(206, 'quotedText'); }
    .ref { @include Inline(206, 'ref'); }
    .relatedDocument { @include Inline(206, 'relatedDocument'); }
    .remark { @include Inline(206, 'remark'); }
    .rmod { @include Inline(206, 'rmod'); }
    .role { @include Inline(206, 'role'); }
    .rref { @include Inline(206, 'rref'); }
    .scene { @include Inline(206, 'scene'); }
    .session { @include Inline(206, 'session'); }
    .shortTitle { @include Inline(206, 'shortTitle'); }
    .signature { @include Inline(206, 'signature'); }
    .subheading { @include Inline(206, 'subheading'); }
    .term { @include Inline(206, 'term'); }
    .time { @include Inline(206, 'time'); }
    .tocItem { @include Inline(206, 'tocItem'); }
    .vote { @include Inline(206, 'vote'); }

    // Popup
    .authorialNote { @include MainPart('authorialNote'); }
    .quotedStructure { @include MainPart('quotedStructure'); }

    // Other
    .p {
        margin: 0 4px;
        padding: 0 4px;
        border-left: 1px dotted #555;
    }
    .block {}
    .longTitle {}
    .other {}
    .table {}
    .wrapUp {}
    .eol {}
    .eop {}
    .marker {}
    .noteRef {}
    .genericElement {}
    .externalFragment {}
    .commonsInline {}
    .contentInline {}
    .commonElement {}
    .commonReference {}
    .commonJudgement {}
    .commonReport {}
    .structureNotes {}
    .hierarchicalStructure {}
    .componentRef {}
    .subFlow {}

    // Inlines
    .intro { @include Inline(206, 'intro \f0ca');}
    .heading {
        @include Inline(206, 'heading');
        max-width: 65%;
        vertical-align: sub;
    }

    // Set color for hcontainers depending on level
    .hcontainer {
        @include Color(70);
        .hcontainer {
            @include Color(90);
            .hcontainer {
                @include Color(110);
                .hcontainer {
                    @include Color(130);
                    .hcontainer {
                        @include Color(150);
                    }
                }
            }
        }
    }
}
