
// We have no eng lang selector because english is the default one
#tinymce.lime {

    .preamble       { @include Label('preamble'); }
    .preface        { @include Label('preface'); }
    .body           { @include Label('body');}
    .mainBody       { @include Label('mainBody');}
    .amendmentBody  { @include Label('amendmentBody');}
    .collectionBody { @include Label('collectionBody');}
    .fragmentBody   { @include Label('fragmentBody');}
    .debateBody     { @include Label('debateBody');}
    .conclusions    { @include Label('conclusions');; }

    .administrationOfOath   { @include Label('administrationOfOath'); }
    .amendmentContent       { @include Label('amendmentContent'); }
    .amendmentHeading       { @include Label('amendmentHeading'); }
    .amendmentJustification { @include Label('amendmentJustification'); }
    .amendmentReference     { @include Label('amendmentReference'); }
    .answer                 { @include Label('answer'); }
    .arguments              { @include Label('arguments'); }
    .attachments            { @include Label('attachments'); }
    .attachment             { @include Label('attachment'); }
    .background             { @include Label('background'); }
    .blockContainer         { @include Label('blockContainer'); }
    .blockList              { @include Label('blockList'); }
    .citation               { @include Label('citation'); }
    .component              { @include Label('component'); }
    .components             { @include Label('components'); }
    .coverPage              { @include Label('coverPage'); }
    .decision               { @include Label('decision'); }
    .extractStructure       { @include Label('extractStructure'); }
    .foreign                { @include Label('foreign'); }
    .formula                { @include Label('formula'); }
    .introduction           { @include Label('introduction'); }
    .motivation             { @include Label('motivation'); }
    .question               { @include Label('question'); }
    .recital                { @include Label('recital'); }
    .speech                 { @include Label('speech'); }
    .speechGroup            { @include Label('speechGroup'); }
    .tblock                 { @include Label('tblock'); }
    .wrap                   { @include Label('wrap'); }
    .content                { @include Label('content'); }
    .remedies               { @include Label('remedies'); }
    .address                { @include Label('address'); }
    .alinea                 { @include Label('alinea'); }
    .article                { @include Label('article'); }
    .book                   { @include Label('book'); }
    .chapter                { @include Label('chapter'); }
    .citations              { @include Label('citations'); }
    .clause                 { @include Label('clause'); }
    .debateSection          { @include Label('debateSection'); }
    .declarationOfVote      { @include Label('declarationOfVote'); }
    .division               { @include Label('division'); }
    .indent                 { @include Label('indent'); }
    .item                   { @include Label('item'); }
    .list                   { @include Label('list'); }
    .ministerialStatements  { @include Label('ministerialStatements'); }
    .nationalInterest       { @include Label('nationalInterest'); }
    .noticesOfMotion        { @include Label('noticesOfMotion'); }
    .oralStatements         { @include Label('oralStatements'); }
    .papers                 { @include Label('papers'); }
    .paragraph              { @include Label('paragraph'); }
    .part                   { @include Label('part'); }
    .personalStatements     { @include Label('personalStatements'); }
    .petitions              { @include Label('petitions'); }
    .pointOfOrder           { @include Label('pointOfOrder'); }
    .point                  { @include Label('point'); }
    .proceduralMotions      { @include Label('proceduralMotions'); }
    .proviso                { @include Label('proviso'); }
    .questions              { @include Label('questions'); }
    .recitals               { @include Label('recitals'); }
    .resolutions            { @include Label('resolutions'); }
    .rollCall               { @include Label('rollCall'); }
    .rule                   { @include Label('rule'); }
    .section                { @include Label('section'); }
    .subchapter             { @include Label('subchapter'); }
    .subclause              { @include Label('subclause'); }
    .subdivision            { @include Label('subdivision'); }
    .sublist                { @include Label('sublist'); }
    .subparagraph           { @include Label('subparagraph'); }
    .subpart                { @include Label('subpart'); }
    .subrule                { @include Label('subrule'); }
    .subsection             { @include Label('subsection'); }
    .subtitle               { @include Label('subtitle'); }
    .title                  { @include Label('title'); }
    .tome                   { @include Label('tome'); }
    .transitional           { @include Label('transitional'); }
    .writtenStatements      { @include Label('writtenStatements'); }
    .affectedDocument { @include Label('affectedDocument'); }
    .argument         { @include Label('argument'); }
    .change           { @include Label('change'); }
    .concept          { @include Label('concept'); }
    .courtType        { @include Label('courtType'); }
    .date             { @include Label('date'); }
    .decoration       { @include Label('decoration'); }
    .def              { @include Label('def'); }
    .del              { @include Label('del'); }
    .docAuthority     { @include Label('docAuthority'); }
    .docCommittee     { @include Label('docCommittee'); }
    .docDate          { @include Label('docDate'); }
    .docIntroducer    { @include Label('docIntroducer'); }
    .docJurisdiction  { @include Label('docJurisdiction'); }
    .docketNumber     { @include Label('docketNumber'); }
    .docProponent     { @include Label('docProponent'); }
    .docPurpose       { @include Label('docPurpose'); }
    .docStage         { @include Label('docStage'); }
    .docStatus        { @include Label('docStatus'); }
    .docTitle         { @include Label('docTitle'); }
    .documentRef      { @include Label('documentRef'); }
    .entity           { @include Label('entity'); }
    .event            { @include Label('event'); }
    .extractText      { @include Label('extractText'); }
    .fillIn           { @include Label('fillIn'); }
    .from             { @include Label('from'); }
    .ins              { @include Label('ins'); }
    .judge            { @include Label('judge'); }
    .legislature      { @include Label('legislature'); }
    .listConclusion   { @include Label('listConclusion'); }
    .listIntroduction { @include Label('listIntroduction'); }
    .location         { @include Label('location'); }
    .mmod             { @include Label('mmod'); }
    .mod              { @include Label('mod'); }
    .narrative        { @include Label('narrative'); }
    .neutralCitation  { @include Label('neutralCitation'); }
    .object           { @include Label('object'); }
    .omissis          { @include Label('omissis'); }
    .opinion          { @include Label('opinion'); }
    .organization     { @include Label('organization'); }
    .outcome          { @include Label('outcome'); }
    .party            { @include Label('party'); }
    .person           { @include Label('person'); }
    .placeholder      { @include Label('placeholder'); }
    .process          { @include Label('process'); }
    .quantity         { @include Label('quantity'); }
    .relatedDocument  { @include Label('relatedDocument'); }
    .remark           { @include Label('remark'); }
    .rmod             { @include Label('rmod'); }
    .role             { @include Label('role'); }
    .scene            { @include Label('scene'); }
    .session          { @include Label('session'); }
    .shortTitle       { @include Label('shortTitle'); }
    .signature        { @include Label('signature'); }
    .subheading       { @include Label('subheading'); }
    .term             { @include Label('term'); }
    .time             { @include Label('time'); }
    .vote             { @include Label('vote'); }
    .quotedText       { @include Label('quotedText'); }
    .authorialNote    { @include Label('authorialNote'); }
    .quotedStructure  { @include Label('quotedStructure'); }

    .docNumber        { @include Label('docNumber'); }
    .docType          { @include Label('docType'); }
    .mref             { @include Label('mref'); }
    .ref              { @include Label('ref'); }
    .rref             { @include Label('rref'); }
}
