#tinymce.lime.it {
    .address { @include Label('indirizzo') }
    .administrationOfOath { @include Label('asserzione') }
    .affectedDocument { @include Label('modificato') }
    .alinea { @include Label('non-numerato') }
    .amendmentBody { @include Label('corpo-emendamento') }
    .judgmentBody { @include Label('corpo-sentenza') }
    .amendmentContent { @include Label('cont.emend.') }
    .amendmentHeading { @include Label('intenstazione') }
    .amendmentJustification { @include Label('giustificazione') }
    .amendmentReference { @include Label('riferimento') }
    .answer { @include Label('risposta') }
    .argument { @include Label('argomento') }
    .arguments { @include Label('argomenti') }
    .article { @include Label('articolo') }
    .attachments { @include Label('allegato') }
    .authorialNote { @include Label('nota-autore') }
    .background { @include Label('fatto') }
    .blockContainer { @include Label('contenitore-blocchi') }
    .blockList { @include Label('lista') }
    .body { @include Label('corpo') }
    .book { @include Label('libro') }
    .change { @include Label('xxx') }
    .chapter { @include Label('capitolo') }
    .citation { @include Label('citazione') }
    .citations { @include Label('citazioni') }
    .clause { @include Label('clausola') }
    .collectionBody { @include Label('corpo') }
    .component { @include Label('componente') }
    .componentRef { @include Label('link-componente') }
    .components { @include Label('componenti') }
    .concept { @include Label('concetto') }
    .conclusions { @include Label('conclusioni') }
    .courtType { @include Label('tipo-corte') }
    .coverPage { @include Label('copertina') }
    .date { @include Label('data') }
    .debateBody { @include Label('corpo') }
    .debateSection { @include Label('sezione-report') }
    .decision { @include Label('decisione') }
    .declarationOfVote { @include Label('dichiarazione-voto') }
    .decoration { @include Label('decorazione') }
    .def { @include Label('definizione') }
    .del { @include Label('cancella') }
    .division { @include Label('divisione') }
    .docCommittee { @include Label('commissione') }
    .docDate { @include Label('data-doc') }
    .docIntroducer { @include Label('introduttore') }
    .docJurisdiction { @include Label('commissione') }
    .docketNumber { @include Label('numero-pratica') }
    .docNumber { @include Label('numero-doc') }
    .docProponent { @include Label('proponente') }
    .docPurpose { @include Label('finalita') }
    .docStage { @include Label('fase') }
    .docStatus { @include Label('stato-doc') }
    .docTitle { @include Label('titolo-doc') }
    .docType { @include Label('tipo-doc') }
    .documentRef { @include Label('link-doc') }
    .entity { @include Label('entita') }
    .eol { @include Label('fine-linea') }
    .eop { @include Label('fine-pagina') }
    .event { @include Label('evento') }
    .extractStructure { @include Label('estratto-struttura') }
    .extractText { @include Label('estratto-testo') }
    .fillIn { @include Label('campo-form') }
    .foreign { @include Label('inclusione-esterna') }
    .formula { @include Label('formula') }
    .fragmentBody { @include Label('frammento-corpo') }
    .from { @include Label('da') }
    .header { @include Label('intestazione-sentenza') }
    .heading { @include Label('rubrica') }
    .indent { @include Label('indentato') }
    .ins { @include Label('inserimento') }
    .interstitial { @include Label('interstizio') }
    .intro { @include Label('intro-lista') }
    .introduction { @include Label('intro-lista') }
    .item { @include Label('punto') }
    .judge { @include Label('giudice') }
    .lawyer { @include Label('avvocato') }
    .legislature { @include Label('legislatura') }
    .list { @include Label('list-gerarchica') }
    .listConclusion { @include Label('conclusione-lista') }
    .listIntroduction { @include Label('intro-liste') }
    .location { @include Label('luogo') }
    .longTitle { @include Label('titolo-lungo') }
    .mainBody { @include Label('corpo-doc') }
    .ministerialStatements { @include Label('dic-ministerale') }
    .mmod { @include Label('mmod') }
    .mod { @include Label('modifica') }
    .motivation { @include Label('motivazione') }
    .mref { @include Label('rif-multipli') }
    .narrative { @include Label('narrazione') }
    .nationalInterest { @include Label('dich-nazionale') }
    .neutralCitation { @include Label('citazione-standard') }
    .noteRef { @include Label('rif-nota') }
    .noticesOfMotion { @include Label('mozione') }
    .num { @include Label('identificativo') }
    .object { @include Label('oggetto') }
    .omissis { @include Label('omissis') }
    .opinion { @include Label('opinione') }
    .oralStatements { @include Label('dich-orale') }
    .organization { @include Label('organizzazione') }
    .other { @include Label('altro') }
    .outcome { @include Label('risultato') }
    .papers { @include Label('articoli') }
    .paragraph { @include Label('comma') }
    .part { @include Label('parte') }
    .party { @include Label('parte') }
    .person { @include Label('persona') }
    .personalStatements { @include Label('dich-personale') }
    .petitions { @include Label('petizione') }
    .placeholder { @include Label('termine') }
    .point { @include Label('punto') }
    .pointOfOrder { @include Label('punto-ordine') }
    .preamble { @include Label('preambolo') }
    .preface { @include Label('intestazione') }
    .proceduralMotions { @include Label('rich-mozione') }
    .process { @include Label('processo') }
    .proviso { @include Label('disposizione') }
    .quantity { @include Label('quantita') }
    .question { @include Label('quesito') }
    .questions { @include Label('quesiti') }
    .quotedStructure { @include Label('novella-strutturata') }
    .quotedText { @include Label('novella-testo') }
    .recital { @include Label('giustificazione') }
    .recitals { @include Label('giustificazioni') }
    .ref { @include Label('riferimento') }
    .relatedDocument { @include Label('doc-collegato') }
    .remark { @include Label('remark') }
    .resolutions { @include Label('risluzione') }
    .rmod { @include Label('intervallo-mod') }
    .role { @include Label('ruolo') }
    .rollCall { @include Label('atto-votazione') }
    .rref { @include Label('intervallo-rif') }
    .rule { @include Label('regola') }
    .scene { @include Label('scene') }
    .section { @include Label('sezione') }
    .session { @include Label('sessione') }
    .shortTitle { @include Label('titolo-breve') }
    .signature { @include Label('firma') }
    .speech { @include Label('discorso') }
    .speechGroup { @include Label('gruppo-discorsi') }
    .subchapter { @include Label('sotto-capitolo') }
    .subclause { @include Label('sotto-clausola') }
    .subdivision { @include Label('sotto-divisione') }
    .subFlow { @include Label('subFlow') }
    .subheading { @include Label('sotto-rubrica') }
    .sublist { @include Label('sotto-lista') }
    .subparagraph { @include Label('sotto-paragrafo') }
    .subpart { @include Label('sotto-parte') }
    .subrule { @include Label('sotto-regola') }
    .subsection { @include Label('sotto-sezione') }
    .subtitle { @include Label('sotto-titolo') }
    .tblock { @include Label('tblock') }
    .term { @include Label('termine') }
    .time { @include Label('tempo') }
    .title { @include Label('titolo') }
    .toc { @include Label('indice') }
    .tocItem { @include Label('elemento-indice') }
    .tome { @include Label('tomo') }
    .transitional { @include Label('transitorio') }
    .vote { @include Label('voto') }
    .wrap { @include Label('coda') }
    .writtenStatements { @include Label('dich-scritta') }
    .content { @include Label('content') }
    .remedies { @include Label('rimedi') }
    .hierarchicalStructure { @include Label('Strutture gerarchiche') }
    .genericElement { @include Label('Elementi generici') }
    .externalFragment { @include Label('Frammenti di testo esterno') }
    .commonsInline { @include Label('Elementi inline') }
    .contentInline { @include Label('Inline di contenuto') }
    .commonElement { @include Label('Elementi comuni') }
    .commonReference { @include Label('Riferimenti') }
    .commonJudgement { @include Label('Judgement') }
    .commonReport { @include Label('debateReport/report') }
    .structureNotes { @include Label('Note') }

    .mod[data-modtype=insertion] { @include Label('Inserimento'); }
    .mod[data-modtype=substitution], .ins[data-modtype=substitution] { @include Label('Sostituzione'); }
    .mod[data-modtype=repeal] { @include Label('Abrogazione'); }
}
