
@import "../../../packages/akn-tab-visualizer/sass/src/visualizer/AknVisualizerComponent.scss";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
@import "mixin";
@import "italian";

#tinymce {
    font-size: .8em;

    // Generic editor rules
    // .breaking {
    // 	border: 0;
    // 	margin: 2px;
    // 	background-color: transparent;
    // 	display: block;
    // }
    hr[data-mce-selected] { outline: 0px solid black; }
    // *[focused = 'true'] {
    // 	-webkit-box-shadow: 0px 0px 10px 2px rgba(105,105,105,1);
    // 	-moz-box-shadow: 0px 0px 10px 2px rgba(105,105,105,1);
    // 	box-shadow: 0px 0px 10px 2px rgba(105,105,105,1);
    // }
    span.visibleBookmark:before {
        // TODO: fix this crappy css
    	overflow: initial !important;
    	background-color: rgba(205, 101, 103, 1.0) !important;
        display: inline-block  !important;
        line-height: 18px  !important;
        width: 2px !important;
        margin: 0 0px !important;
        content: '\00a0';
    }
    span[data-mce-type="bookmark"]:not(.visibleBookmark) { display: none; }
    span.visibleSelection { background-color: #B0B0B0; }
    #tinymce *[highlighted=true] { background-color: #fafcc0; }


    // Todo: add language selector
    &.lime {
        // Main parts
        .preamble { @include MainPart('preamble'); }
        .preface { @include MainPart('preface'); }
        .conclusions { @include MainPart('conclusions'); }
        .body { @include MainPart('body'); }


        .title { @include MainPart('title'); }
        .section { @include MainPart('section'); }
        .paragraph { @include MainPart('paragraph'); }
        .article { @include MainPart('article'); }
        .chapter { @include MainPart('chapter'); }
        .clause { @include MainPart('clause'); }
        .list { @include MainPart('list'); }
        .point { @include Hcontainer(); }

        .inline { @include Inline(206, '->'); }

        // Inlines
        .docType { @include Inline(206, 'docType \f0e3');}
        .docNumber { @include Inline(206, 'docNumber \f02d');}
        .num { @include Inline(206, 'num \f1dd');}
        .intro { @include Inline(206, 'intro \f0ca');}
        .heading {
            @include Inline(206, 'heading');
            max-width: 65%;
            vertical-align: sub;
        }

        // Set color for hcontainers depending on level
        .hcontainer {
            @include Color(70);
            .hcontainer {
                @include Color(90);
                .hcontainer {
                    @include Color(110);
                    .hcontainer {
                        @include Color(130);
                        .hcontainer {
                            @include Color(150);
                        }
                    }
                }
            }
        }
    }

    &.colors {
        // TODO: migrate from jsons
    }

    &.pdf {
        // TODO: migrate from jsons
    }
}



// --------------
// --- MIXIN ----
// --------------
@mixin Inline ($color, $label) {
    border-bottom: 1px solid hsl($color, 30%, 65%);
    display: inline-block;
    position: relative;
    margin: 5px 0 3px;
    padding-right: 100px;

    &:before {
        content: $label;
        width: 80px;
        text-align: center;

        font: 13px/16px 'Titillium Web', sans-serif;
        font: 13px/16px 'FontAwesome', sans-serif;

        position: absolute;
        right: 0px;
        bottom: 0px;

        padding: 0px 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        color: white;
        background-color: hsl($color, 30%, 65%);
    }
}
