
@import "../../font-awesome/css/font-awesome.min.css";
@import "mixin";
@import "akn";
@import "akn_eng";
@import "akn_ita";
@import "akn_esp";

@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=latin,latin-ext);

#tinymce {
    font-size: .9em;
    font-family: 'Libre Baskerville', serif;
    padding: 20px 5px;

    // Generic editor rules
    hr[data-mce-selected] { outline: 0px solid black; }
    *[focused = 'true'] {
        background-color: #f5f5f5;
    	box-shadow: 1px 2px 3px #777;
    }
    span.visibleBookmark:before {
        // TODO: fix this crappy css
    	overflow: initial !important;
    	background-color: rgba(205, 101, 103, 1.0) !important;
        display: inline-block  !important;
        line-height: 18px  !important;
        width: 2px !important;
        margin: 0 0px !important;
        content: '\00a0';
    }
    span[data-mce-type="bookmark"]:not(.visibleBookmark) { display: none; }
    span.visibleSelection { background-color: #B0B0B0; }
    #tinymce *[highlighted=true] { background-color: #fafcc0; }

    &.lime {
        *::before {
            font-family: 'Ubuntu Mono';
            color: white;
            font-size: 13px;
            line-height: 15px;
            vertical-align: text-bottom;
        }
    }

    &.colors {
        // TODO: migrate from jsons
    }

    &.pdf {
        // TODO: migrate from jsons
    }
}
